*{
    box-sizing: border-box;
}
.row{
display: flex;
}
.column{
    flex: 50%;
    padding: 10px;
    height: 300%;
}
body{
    width: 100vw;
    height: 50vh;
    text-align: left;
    position: grid;
    height: 100%;

}
.wave{
    position: fixed;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.container{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 400px;
    border-radius: 5px;
}
.login-container{
    display: flex;
    align-items: center;
    text-align: center;
}
form h2{
    font-size: 2.9rem;
    text-transform: uppercase;
    margin: 15px 0 ;

}
.input-div{
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}
.input-div.one{
    margin-top: 0;
}
.input-div.two{
    margin-bottom: 4px;
}
.i{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input{
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0 5px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;

}

.btn{
    display: block;
    width: 50%;
    height: 50px;
    border-radius: 25px;
    margin: 1rem 0;
    font-size: none;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, gray, gray, gray);
    cursor: pointer;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    background-size: 200%;
    transition: .5s;
    text-align: center;
}